.main{color:purple;font-weight:bold}

h4,h3{font-family:Arial;color:maroon}

p.change{font-style:italic;font-size:15pt}

p{font-size:20pt;color:purple}

img{border-style:ridge;border-width:20pt;border-color:red green blue purple}